---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Privacy Policy"
  description="Learn how The LEAGUE of Amazing Programmers collects, uses, and protects personal information across our sites and services."
>
  <section class="section">
    <div class="container content">
      <h1>Privacy Policy</h1>
      <p><strong>The LEAGUE of Amazing Programmers Privacy Policy</strong></p>
      <p><em>Publish Date: 11/03/2020</em></p>
      <p>This privacy policy applies to all individuals who visit and/or use The LEAGUE of Amazing Programmers websites, services, and products that collect data and/or display these terms (“<em>LEAGUE Sites &amp; Services</em>”). This privacy statement applies only to information collected through LEAGUE Sites &amp; Services and not to information collected offline.</p>
      <p>All references to “<em>us</em>,” “<em>we</em>,” or “<em>our</em>” refer to The LEAGUE of Amazing Programmers.</p>
      <p>All references to “<em>child</em>” or “<em>children</em>” refer to children under the age of 13.</p>
      <p>By accessing or otherwise using any of our LEAGUE Sites &amp; Services, you consent to the terms contained in this privacy statement, including the collection, use, and disclosure of data as described below.</p>

      <h2>I. Information We May Ask You To Provide</h2>
      <p>Through our LEAGUE Sites &amp; Services, we collect information about you and/or your student when you choose to provide it to us. For example, we collect information from you so you can use LEAGUE Sites &amp; Services, purchase products and services, register for and obtain an account, request information, apply for a job, register for one of our programs, or verify your age. In general, we may ask you to provide us with the following types of information about you and/or your student:</p>
      <ul>
        <li>Contact information such as name, email address, mailing address, phone numbers (<em>note to parents/guardians of children:</em> if we have actual knowledge that a user is under 13 years old, the child will be asked to have their parent or guardian continue the registration process);</li>
        <li>Month, day, and year of birth;</li>
        <li>Gender preference;</li>
        <li>Course interests;</li>
        <li>Billing information such as credit card number and billing address;</li>
        <li>User names to third-party systems (for example, Facebook);</li>
        <li>Information provided on forums or chat rooms within our LEAGUE Sites &amp; Services (<em>note to parents/guardians of children:</em> forums and chat rooms permit a child user to enter comments through which the child could provide personal information that would be visible to other users);</li>
        <li>Information included in résumés and job applications; and</li>
        <li>Health details, participation limitations or needs, immunization, and allergy information.</li>
      </ul>
      <p><em>Note to parents/guardians:</em> We only collect the information described above, from someone we know to be a child, after the child’s parent or guardian provides us with verifiable consent, unless one of the limited exceptions discussed below applies. For more information and/or to review these limited exceptions, please see the “Our Commitment to Children’s Privacy” section below.</p>

      <h2>II. Information Collected Automatically</h2>
      <p><strong>Cookies and other tracking technologies</strong></p>
      <p>We may use cookies, web beacons, pixel tags, log files, Local Storage Objects, or other technologies to collect certain information about visitors to and users of LEAGUE Sites &amp; Services, such as the date and time you visit LEAGUE Sites &amp; Services, the areas or pages of LEAGUE Sites &amp; Services that you visit, the amount of time you spend viewing or using LEAGUE Sites &amp; Services, the number of times you return, other click-stream or usage data, and emails that you open, forward, or click through to LEAGUE Sites &amp; Services. For example, we may automatically collect certain information, such as the type of web browser and operating system you use, the name of your Internet Service Provider, IP address, software version, and the domain name from which you accessed our LEAGUE Sites &amp; Services. We use this information to monitor and improve our LEAGUE Sites &amp; Services, support the internal operations of our LEAGUE Sites &amp; Services, personalize your online experience, verify e-signatures, and for internal analysis.</p>
      <p>We do <em>not</em> use cookies or similar technologies to track your activities on non-LEAGUE Sites &amp; Services or to serve you advertisements based on your browsing activities on non-LEAGUE Sites &amp; Services.</p>
      <p>LEAGUE Sites &amp; Services do not recognize “Do Not Track” headers or similar mechanisms.</p>
      <p>Our Sites &amp; Services may use third-party plug-ins to provide additional services and benefits. These third parties may collect information about you as well. When we use a third-party plug-in we will identify the plug-in and provide a link to the third party’s privacy policy under which the information they collect is identified and controlled.</p>
      <p>We may also collect geolocation information from your device so we can customize your experience on our LEAGUE Sites &amp; Services. In most cases, you are able to turn off such data collection at any time by accessing the privacy settings of your device and/or through the settings in the applicable GPS application.</p>
      <p><strong>Social media</strong></p>
      <p>You can engage with our content and other offerings on or through social media services or other third-party platforms, such as Facebook, or other third-party social media plug-ins, integrations, and applications. When you engage with our content on or through these services, you may allow us to access certain information in your profile. This may include your name, email address(es), photo, gender, birthday, location, an ID associated with the applicable third-party platform or social media account, user files like photos and videos, your list of friends or connections, people you follow and/or who follow you, or your posts or “likes.” For a description of how social media services and other third-party platforms, plug-ins, integrations, or applications handle your information, please refer to their respective privacy policies and terms of use, which may permit you to modify your privacy settings.</p>
      <p>When we interact with you through our content on third-party websites, applications, integrations, or platforms, we may obtain information regarding your interaction with that content, such as content you have viewed, and information about advertisements within the content you have been shown or may have clicked on.</p>
      <p><strong>Information from third-party services</strong></p>
      <p>We may also obtain other information, including personal information, from third parties and combine that with information we collect through our Websites. For example, we may have access to certain information from a third-party social media or authentication service if you log in to our services through such a service or otherwise provide us with access to information from that service. Any access that we may have is in accordance with the authorization procedures determined by that service. If you authorize us to connect with a third-party service, we will access and store the information that service makes available to us and use it in accordance with this policy. You should check your privacy settings on these third-party services to understand and change the information sent to us through these services.</p>

      <h2>III. Your Ability To Control Cookies And Similar Technologies</h2>
      <p>We may use cookies or similar technologies to monitor and improve LEAGUE Sites &amp; Services, support internal operations, personalize your online experience, support the e-signature process, and perform internal analysis. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. Check the “Tools” or “Help” tab on your browser to learn how to change your cookie and other tracking preferences.</p>
      <p>If you choose to decline cookies, you may not be able to fully experience the functions of LEAGUE Sites &amp; Services and some services may function improperly, in particular the ability to log in or manage items in your shopping cart. We do not share cookie data with any third parties.</p>

      <h2>IV. How We May Use Your Information</h2>
      <p>We may use the information we collect from and about you and/or your student for any of the following purposes:</p>
      <ul>
        <li>Allow you to register yourself or your student with LEAGUE Sites &amp; Services, or to otherwise register and open an account with us;</li>
        <li>Allow you and/or your student to use LEAGUE Sites &amp; Services;</li>
        <li>Fulfill orders, process payments, and prevent transactional fraud;</li>
        <li>Respond to your or your student’s requests or inquiries;</li>
        <li>Provide you or your student with information about our products and services;</li>
        <li>Consider you for employment or a volunteer opportunity;</li>
        <li>Register you or your student in one of our programs;</li>
        <li>Verify your student’s age;</li>
        <li>Monitor and improve LEAGUE Sites &amp; Services, support internal operations, personalize your online experience, and conduct internal analysis;</li>
        <li>Protect the security or integrity of LEAGUE Sites &amp; Services and our business;</li>
        <li>Facilitate the sale or potential sale of our business or any of our assets; or</li>
        <li>Comply with legal obligations.</li>
      </ul>

      <h2>V. How We Share Information</h2>
      <p>We do not sell or otherwise share your or your student’s information with any third parties, except for the limited purposes described below. Parents or guardians of children under the age of 13 may consent to the collection and use of their child’s personal information without consenting to the disclosure of that information to certain third parties.</p>
      <p><strong>1. Law enforcement and safety</strong></p>
      <p>We may access, preserve, and/or disclose the information we collect and/or content you and/or your student provides to us (including information posted on our forums) to a law enforcement agency or other third parties if required to do so by law or if we believe such access, preservation, or disclosure is reasonably necessary. Reasons may include complying with legal process, enforcing our Terms and Conditions, responding to claims, protecting the rights or property of LEAGUE Sites &amp; Services, protecting personal safety, or limiting our legal liability.</p>
      <p><strong>2. Service providers</strong></p>
      <p>Information collected through LEAGUE Sites &amp; Services may be transferred, disclosed, or shared with third parties engaged by us to deliver certain activities, such as housing, meals, payment processing, mail or email distribution, software, and other technical or operational functions. These providers receive only the information needed to perform their functions, are prohibited from using it for other purposes, and must maintain confidentiality. Some providers, such as payment processors, may request additional information. Review their privacy policies before providing more information.</p>
      <p><strong>3. Business transfer</strong></p>
      <p>During the normal course of our business, we may sell or purchase assets. If another entity acquires us or our assets, information we have collected about you may be transferred to such entity. In bankruptcy or reorganization proceedings, information may be considered an asset and sold or transferred. We will use reasonable efforts to require that any transferee use personal information in a manner consistent with this privacy statement.</p>

      <h2>VI. Our Commitment To Children’s Privacy</h2>
      <p>Protecting the privacy of children is paramount. We understand that users and visitors of our LEAGUE Sites &amp; Services who are under 13 years of age need special safeguards. Our LEAGUE Sites &amp; Services are intended for general audiences. We do not knowingly permit anyone under 13 years of age to provide us with personal information without obtaining a parent’s or guardian’s verifiable consent, except where:</p>
      <ul>
        <li>The sole purpose of collecting the name or online contact information of a parent or child is to provide notice and obtain parental consent;</li>
        <li>The purpose of collecting a parent’s online contact information is to provide voluntary notice to, and subsequently update the parent about, the child’s participation in LEAGUE Sites &amp; Services that do not otherwise collect, use, or disclose children’s personal information;</li>
        <li>The sole purpose of collecting online contact information from a child is to respond directly on a one-time basis to a specific request from the child and the information is not used to re-contact the child, disclosed, or stored after responding;</li>
        <li>The purpose of collecting a child’s and a parent’s online contact information is to respond directly more than once to the child’s specific request without using it for any other purpose or disclosing it;</li>
        <li>The purpose of collecting a child’s and a parent’s name and online contact information is to protect the safety of a child and the information is not used or disclosed for any unrelated purpose;</li>
        <li>We collect a persistent identifier and no other personal information solely to support internal operations; or</li>
        <li>Otherwise permitted or required by law.</li>
      </ul>
      <p>If we receive the verifiable consent of a child’s parent or guardian to collect, use, and disclose the child’s information, we will only do so as described in this privacy statement. Some features, such as forums and chat rooms, allow child users to enter comments that may include personal information visible to other users. Parents should advise their children of the risks of posting personal information online.</p>

      <h2>VII. Parental/Guardian Rights</h2>
      <p>If you are a parent or guardian, you can review or have deleted your child’s personal information and refuse further collection or use of that information. To exercise these rights, email us at <a href="mailto:info@jointheleague.org">info@jointheleague.org</a> or send your request to The LEAGUE of Amazing Programmers, 12625 High Bluff Drive #107, San Diego, CA 92130. You can also call (858) 284-0481.</p>

      <h2>VIII. Restrictions On Child Users</h2>
      <p>Children under 13 years of age are prevented from accessing areas of LEAGUE Sites &amp; Services that include client account information unless approved by their parent or guardian, and from accessing any course content defined as age inappropriate by the Entertainment Software Rating Board (ESRB).</p>

      <h2>IX. Forums And Chats</h2>
      <p>We may offer forums and chat rooms. Anyone may read postings in these spaces. Information posted could include personal details visible to other users and is therefore no longer private. We cannot guarantee the security of information disclosed or communicated online in public areas, and participation is at your own risk. We reserve the right to monitor content and remove age-inappropriate or identifiable information for security, privacy, or legal reasons. We do not republish forum or chat room postings elsewhere.</p>

      <h2>X. Links And Third Parties</h2>
      <p>We may include or offer third-party websites, products, and services on LEAGUE Sites &amp; Services. These third parties maintain independent privacy policies. Consult the respective privacy policies of these third parties. We have no responsibility or liability for the content and activities of linked sites, products, or services.</p>
      <p>Our LEAGUE Sites &amp; Services may also contain links to other third-party websites, chat rooms, or resources provided for convenience. These sites are not under our control, and we are not responsible for their content. Such links do not imply endorsement, and access is at your own risk.</p>

      <h2>XI. International Visitors</h2>
      <p>Our LEAGUE Sites &amp; Services are operated and managed on servers located in the United States. By using our LEAGUE Sites &amp; Services from the European Union or other regions with different data laws, you recognize and agree that you are transferring your personal information to the United States and you consent to that transfer.</p>

      <h2>XII. Data Security Commitment</h2>
      <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place reasonable physical, electronic, and managerial procedures to safeguard the information we collect. We use Secure Sockets Layer (SSL) protocol on account information and registration pages to protect sensitive personal information. Sensitive data is encrypted on our LEAGUE Sites &amp; Services and when stored on our servers.</p>

      <h2>XIII. How You Can Access, Request A Copy, Correct, Or Ask For Information To Be Deleted</h2>
      <p>Access to certain personal information collected from our services may be available to you. For example, if you created a password-protected account, you can access that account to review the information you provided.</p>
      <p>You may also email or mail us to request a copy, correction, or deletion of personal information. Include your registration information, such as first name, last name, phone number, and email address. We may ask for additional information to verify your identity.</p>
      <p>Email: <a href="mailto:info@jointheleague.org">info@jointheleague.org</a><br />Phone: 1-858-284-0481</p>

      <h2>XIV. How To Contact Us / Opting Out Of Electronic Communications</h2>
      <p>If you have questions or concerns about this Privacy Policy, or if you prefer not to receive marketing information, contact us via email or phone and provide your name along with the email addresses or mailing addresses you want removed.</p>
      <p>If you signed up to receive text messages and wish to stop receiving them, call or email us with your name, account email, and the phone number(s) you want removed.</p>
      <p>Email: <a href="mailto:info@jointheleague.org">info@jointheleague.org</a><br />Phone: 1-858-284-0481</p>

      <h2>XV. Terms And Conditions</h2>
      <p>Your use of our LEAGUE Sites &amp; Services, and any information you provide, are subject to The LEAGUE of Amazing Programmers Terms and Conditions.</p>

      <h2>XVI. Privacy Statement Changes</h2>
      <p>We occasionally amend this privacy statement and reserve the right to change, modify, add, or remove portions at any time. If we materially change our use of personal information, we will announce it on relevant LEAGUE Sites &amp; Services and note it in this privacy statement. The effective date appears at the beginning of this statement. Questions can be sent to <a href="mailto:info@jointheleague.org">info@jointheleague.org</a> or mailed to 12625 High Bluff Drive #107, San Diego, CA 92130.</p>

      <h2>XVII. Your Credit Card Information And Transactions</h2>
      <p>For your convenience, you may have us bill you or you can pay by credit card. If you choose to pay by credit card, we keep the card information on file but do not display it at the online registration site. Your credit card security number is not stored in our system.</p>
      <p>We use Secure Socket Layer (SSL) encryption technology to safeguard and protect your personal information and transactions over the internet. Your information, including credit card data, is encrypted and cannot be read as it travels over the internet.</p>

      <h2>XVIII. Social Networking Disclaimer</h2>
      <p>The LEAGUE of Amazing Programmers provides opportunities for social networking for participants and staff on sites such as Facebook, Instagram, Twitter, Flickr, and YouTube. These sites are not affiliated with The LEAGUE and offer their own services. Please read the Terms and Conditions carefully, as well as the Terms and Conditions of the sites in which The LEAGUE has created a forum (“Group”). These Terms and Conditions apply whether you are a visitor or a participant on sites with an official LEAGUE affiliation.</p>
      <p>The LEAGUE is a member of several pre-existing sites. Portions of jointheleague.org may include areas where participants can post submissions. Each site has its own rules and regulations. The LEAGUE reserves the right to take action to remove content deemed inappropriate by the sites or by LEAGUE standards. The LEAGUE is not liable for any loss of content or disagreements that may arise between the social networking site and the user.</p>
      <p>You understand that by registering for a LEAGUE program, your participant(s) may access and upload content to social networking sites. To access certain features of these sites or pages on jointheleague.org, users may need to create accounts. These sites have their own Terms and Conditions and age requirements. You authorize your participant to access social networking sites while at camp and create an account if they choose and meet the requirements.</p>
      <p><strong>Interaction with other users</strong></p>
      <ul>
        <li>The LEAGUE provides a medium to socialize online with fellow participants. Users are solely responsible for interactions (including disputes) with other members and any volunteers who assist participants via LEAGUE Sites &amp; Services.</li>
        <li>The LEAGUE does not screen members or moderate statements made by members in their submissions or by users through LEAGUE Sites &amp; Services.</li>
        <li>Participants must use caution and judgment when sharing personal information.</li>
        <li>Parents should advise participants to take reasonable precautions when interacting with others online or in person.</li>
        <li>Participants must not harass, threaten, intimidate, bully, stalk, or invade the privacy of any individual, and must not encourage others to do so.</li>
        <li>Participants should not give their social networking information to LEAGUE staff members, and staff will not share personal contact details.</li>
      </ul>

      <h2>XIX. Copyright &amp; Intellectual Property Policy</h2>
      <p>You agree that you and your participant will not use social networking sites to offer, display, distribute, transmit, route, provide connections to, or store material that infringes copyrighted works, trademarks, or service marks or otherwise violates the intellectual property rights of any third party. The LEAGUE has adopted a policy that provides for terminating, in appropriate circumstances, the accounts of users who repeatedly infringe or are believed to infringe the rights of others.</p>

      <h2>XX. Disclaimer</h2>
      <p>By using social networking sites or submitting a member submission, you agree that The LEAGUE of Amazing Programmers is not responsible, and will not be held liable, for lost, illegible, misdirected, damaged, or incomplete submissions; computer or network malfunction or error; communication disruptions related to internet traffic, a virus, bug, or unauthorized intervention; or damage caused by a computer virus or from your access to the site or services. The sites, services, LEAGUE content, and member submissions are provided “as is” with no warranty of any kind. Some states or jurisdictions do not allow certain exclusions, so portions of this disclaimer may not apply to you.</p>

      <h2>XXI. Indemnification</h2>
      <p>You agree to defend, indemnify, and hold The LEAGUE of Amazing Programmers, its officers, directors, employees, and agents harmless from claims, liabilities, damages, losses, and expenses, including reasonable attorneys’ fees, arising out of or connected with your access to or use of social networking sites, your violation of these Terms, your infringement of third-party rights, or any claim that your submission caused damage or violated rights.</p>
    </div>
  </section>
</BaseLayout>

<style>
  .content {
    display: grid;
    gap: var(--space-md);
    max-width: 820px;
  }

  .content ul {
    display: grid;
    gap: var(--space-xs);
    padding-left: var(--space-lg);
  }

  .content a {
    color: var(--color-primary);
  }

  .content a:hover,
  .content a:focus {
    text-decoration: underline;
  }
</style>
