---
import SectionHeader from '../../SectionHeader.astro';
import { missionStatement } from '../../../data/about';

const { title, body } = missionStatement;
---

<section class="section section--tint mission">
  <div class="container mission__inner">
    <SectionHeader>
      <h2>{title}</h2>
    </SectionHeader>
    <p>{body}</p>
  </div>
</section>
